@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
    --header-height: 3rem;

    /* Color */
    /* Color mode */
    --heu: 0;
    --sat: 0%;
    --title-color: hsl(var(--heu), var(--sat), 20%);
    --title-color-dark: hsl(var(--heu), var(--sat), 0%);
    --text-color: hsl(var(--heu), var(--sat), 46%);
    --body-color: hsl(var(--heu), var(--sat), 98%);
    --container-color: #fff;

    /* Font and typography */
    --body-font: "Poppins", sans-serif;


    --big-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.625rem;


    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;


    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    --z-toultip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

@media screen and (max-width:992px) {
    :root {
        --big-font-size: 3.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.938rem;
        --smaller-font-size: 0.813rem;
        --tiny-font-size: 0.75rem;
    }
}
.footer{
    background-color: #181818;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.footer_container{
    padding: 2rem 0 6rem;
}
.footer_title,
.footer_link{
    color: var(--title-color);
}
.footer_title{
    text-align: center;
    margin-bottom: var(--mb-2);
}
.footer_link:hover{
    color: var(--title-color-dark);
}
.footer_list{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: var(--mb-2);
}
.footer_social{
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}
.footer_social-link{
    background-color: var(--title-color);
    color: var(--container-color);
    font-size: 1.125rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    display: inline-flex;
}
.footer_social-link:hover {
    background-color: var(--title-color-dark);
}
.footer_copy{
    display: block;
    margin-top: 4.5rem;
    color: var(--title-color);
    text-align: center;
    font-size: var(--smaller-font-size);
}
@media screen and (max-width: 992px) {
    .footer{
        position: relative;
        top: 3rem;
    }
    .footer_social-link {
        padding: O.25rem;
        border-radius: 0.25rem;
        font-size: 1rem;
    }
}